.gitignore

# Ignore build artifacts
build/
dist/

# Ignore specific files
TagWriter_Project_Rules.md
notes/TW_scratchpad.txt

# Ignore executable files
*.exe

# Ignore backups
*.backup
*.bak

# Ignore specific temp directories
temp_backup/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment directories
.env
.venv
env/
venv/
ENV/

# Ignore PyCharm files
.idea/

# Ignore spec files
*.spec

# Ignore generated metadata JSON files
*_metadata.json

# Ignore temporary files
temp.txt

# Ignore local directories not for version control
Issues/
dev/
photos/
tag-writer-latest/
tag-writer-updated/

# Ignore AppImage build artifacts
*.AppImage
appimagetool
squashfs-root/

# Ignore specific text files
PROMPT_to-fix-Win11-arrow-button-bug.txt

.buildozer/
AppDir/
